name: Build

on:
  push:
    branches:
      - '*'
      - '!main'
    paths-ignore:
      - '**/*.md'
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Build docker image
        run: |
          docker build .
